body {
  font-size: 20px;
  background-color: #282828;
  margin: 0;
}

.scroller {
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* overflow: auto; */
    /* background-color: #282828; */
}

.content {
    color: #cbcbcb;
    max-width: 730px;
    margin: 0 auto;
    padding: 50px 100px 200px;
    font-family: Cochin, sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: normal;
}

.content.outline .cledit-section :not(:first-child) {
  display: none;
}

* {
    line-height: 1.5;
}

pre:focus {
    outline: none;
}

.code {
    font-family: Courier, monospace;
    font-size: 1em;
}

.pre {
    color: #cbcbcb;
    font-family: Courier, monospace;
    font-size: 1em;
    word-break: break-all;
}

.pre [class*="language-"] {
    color: #2f2f2f;
}

.pre * {
    font-size: inherit !important;
}

.p {
  line-height: 1.8;
}

.tag {
    color: #555;
    font-weight: bold;
    font-family: Courier, monospace;
    font-size: 1em;
}

.tag .punctuation,
.tag .attr-value,
.tag .attr-name {
    font-weight: normal;
}

.latex,
.math {
    color: #555;
}

.entity {
    font-style: italic;
    font-family: Courier, monospace;
    font-size: 1em;
    color: #555;
}

.table {
    font-family: Courier, monospace;
    font-size: 1em;
}

.table * {
    font-size: inherit;
}

.comment {
    color: #009bc9;
}

.keyword {
    color: #2f2f2f;
    font-weight: bold;
}

.code,
.img,
.imgref,
.cl-toc {
    border-radius: 4px;
    background-color: #303030;
    padding: 0.15em 0.3em;
    margin: 0 0.1em;
    border: solid 1px #727272;
}

.cl-toc {
    font-size: 2.8em;
    padding: 0.15em;
}

.blockquote {
    font-weight: bold;
    color: #009bc9;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: bold;
    color: #009bc9;
}

.token .cl-li,
.token .cl-hash {
  font-weight: bold;
}

.h1,
.h11 {
    font-size: 2em;
}

.h1:not(.alt) {
    margin-left: -0.775em;
}

.h2,
.h22 {
    font-size: 1.5em;
}

.h2:not(.alt) {
    margin-left: -1.292em;
}

.h3 {
    font-size: 1.17em;
}

.h3:not(.alt) {
    margin-left: -1.835em;
}

.h4 {
    font-size: 1em;
}

.h5 {
    font-size: 0.83em;
}

.h6 {
    font-size: 0.75em;
}

.cl-hash {
    color: #009bc9;
}

.cl-gt {
  color: #214d5d;
  font-weight: bold;
}

.cl,
.hr {
    color: #009bc9;
    font-style: normal;
    font-weight: normal
}

.token.hr {
  display: block;
  text-align: center;
  font-size: 2em;
}

.em,
.em .cl {
  font-style: italic;
  font-weight: bold;
}

.em {
  color: #009bc9;
}

.em .cl {
  color: #214d5d;
}

.strong,
.strong .cl,
.term {
    font-weight: bold;
}

.strong {
  color: #c23284;
}

.strong .cl {
  color: #5b2945;
}

.cl-del-text {
    text-decoration: line-through
}

.url,
.email,
.cl-underlined-text {
    text-decoration: underline;
}

.linkdef .url {
    color: #009bc9;
}

.fn,
.inlinefn,
.sup {
    position: relative;
    top: -0.5em;
    font-size: smaller;
}

.sub {
    position: relative;
    bottom: -0.25em;
    font-size: smaller;
}

.img {
    display: inline-block;
}

.img,
.imgref,
.link,
.linkref {
    color: #009bc9;
}

.link,
.linkref{
  color: #616161;
}

.img .cl-underlined-text,
.link .cl-underlined-text,
.linkref .cl-underlined-text,
.url {
    color: #cbcbcb;
    text-decoration: none;
    border-bottom: 1px solid #cbcbcb;
    font-weight: bold;
}

.cl-link-url {
    color: #cbcbcb;
}

.link:not(.active) .cl-link-url {
  font-size: 0;
}

.cl-link-url:before {
    content: '···';
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.link.active .cl-link-url:before {
    content: '';
    display: none;
}

.img {
  font-weight: bold;
}

.img .cl-src {
  color: #cbcbcb;
}

.cl-title {
    color: #555;
}

::selection {
  background: rgba(255, 255, 255, .25);
}

/* .selection { */
/*   position: absolute; */
/*   pointer-events: none; */
/* } */
/*  */
/* .selection.range { */
/*   background-color: rgba(255, 255, 255, .5); */
/* } */
/*  */
/* .selection.caret { */
/*   background-color: #00c6fe; */
/*   width: 3px; */
/* } */
/*  */
/* .selection.none { */
/*   display: none; */
/* } */
